.list-enter-active, .list-leave-active {
    transition: all 1s;
}
.list-enter-from, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
}
ul{
    margin: 5rem auto; width: 50%; border-top: 2px solid #000;
    li{
        height: 7rem; border-bottom: 1px solid #000;
        &:hover a , &:focus a{
            background: #eee;
        }
        a{
            display: flex; height: 100%;  align-items: center; transition: all 1s;
            & > span{
                display: block; width: 6rem; font-size: 1.8rem; font-weight: bold;text-align: center;
            }
            h3{
                font-size: 2rem;
            }
            div{
                margin-left: auto;
                span{
                    margin-right: 2rem ; font-size: 1.6rem; color: #000; font-weight: bold;
                }
            }
        }
    }
}
button{
    margin: 0 auto; width: 30rem; height: 5rem; background: none; display: block;
    text-align: center; line-height: 3rem; font-size: 1.8rem; color: #000; font-family: 'ChosunSg'; font-weight: bold; 
    border: 1px solid #000; cursor: pointer; border-radius: 5px; 
    transition: all 1s;
    &:hover , &:focus{
        background: #eee;
    }
}

@media all and (max-width:1300px){
    ul{
        width: 90%;
    }
}
@media all and (max-width:1080px){
    ul{
        margin: 4.5rem auto; width: 100%;
        li{
            height: 5rem;
            a{
                & > span{
                    width: 4rem; font-size: 1.5rem;
                }
                h3{
                    font-size: 1.5rem;
                }
                div{
                    span{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
    button{
        margin: 0 auto; width: 18rem; height: 4rem; 
        line-height: 3rem; font-size: 1.5rem;
    }
}