.visualWrap{
    position: relative; min-height: calc(100vh - 8rem);
    div{
        &.on{
            z-index: 1; opacity: 1; visibility: visible;
        }
        overflow: hidden; position: absolute; top: 0; left: 0;
        width: 100% ; height: 95%; 
        opacity: 0; visibility: hidden; transition: all 1s ease-in-out;
        img{
            min-width: 100%; height: 100%;
        }
    }
}

@media all and (max-width:1080px){
    .visualWrap{
        min-height: calc(100vh - 7rem);
        div{
            height: 98%; 
        }
    }
}